/* SCROLLBAR */

::-webkit-scrollbar {
    width: 1px;
    height: 5px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Track */
::-webkit-scrollbar-track {
    background: #eee;
    border: 0px transparent;
    height: 5px;
    background-clip: content-box;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ccc;
    border: 0px rgb(0,0,0);
    height: 5px;
    overflow-x: hidden;
    overflow-y: auto;
}

